.navigation {
  border: 1px solid black;
  border-radius: 5px;
  background: url(wavegrid.png);
  margin: 10px;
}

.header {
  float: right;
  max-width: 71%;
  font-family: 'Megrim', cursive;
  font-size: 30px !important;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  background-color: #EFEFF7;
  padding: 30px;
}

.container {
  border: 1px solid black;
  border-radius: 5px;
  background: url(stardust.png);
  padding: 30px;
  margin: 30px
}

.body_col {
  float: right !important;
  margin-right: 50px;
}

a {
  font-family: 'Megrim', cursive;
  color: black;
  font-size: 15px;
}

body {
  background: url(wavegrid.png);
  background-color: #A2B7BB;
}

li {
  float: right;
  width: 75%;
  background-color: #EFEFF7;
  list-style-type: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.posted_by {
  float: right;
  font-size: 15px;
  color: grey;
}

.vote_text {
  color: grey;
}

.votes {
  font-weight: 400;
  color: grey;
}

#answer_link {
  font-size: 25px;
}

#question_link {
  font-size: 25px;
}

.question_content {
  font-size: 25px;

}

.answer {
  width: 75%;
  font-size: 15px;
  border-radius: 5px;
  background-color: #EFEFF7;
  padding-left: 15px;
  margin: 5px;
  float: right;
}

.notices {
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 30px;
}

.form-group {
  color: #DAE2E2;
}

.form-group1 {
  color: black;
}

.form-group input {
  color: #012223;
}
